In [12]:
import os
import pandas as pd

data_dir = '../data/processed'
data_dict = {}

for file_name in os.listdir(data_dir):
  if file_name.endswith('.dta'):
    file_path = os.path.join(data_dir, file_name)
    file_name_key = file_name.replace('.dta', '')
    data_dict[file_name_key] = pd.read_stata(file_path)

In [13]:
for k in data_dict.keys():
  print(k)


data_dict['firmregister_full'].keys()

outcome_vars_family
individual_mappings
outcome_vars_id
treatments_vars
dstrb_components
controll_vars
firmregister_full

Index(['index', 'Announcement_of', 'Published_in', 'Companyname', 'Capital',
       'Beneficial_owner', 'Date_of_writing', 'Place_and_date_of_signature',
       'Social_object', 'Place_of_the_seat', 'NUEL_ou_N__Registo_antigo',
       'Institution_owner', 'person_shares', 'institution_shares',
       'Additional_information', 'Previous_partners',
       'Previous_members_institutions', 'Rectified_what', 'Rectified_BR_no_',
       'New_name', 'Old_name_s_', 'NUIT', 'Place_of_signature',
       'Signature_date', 'annoucment', 'orga_type', 'NUEL_id', 'ID_status',
       'norm_name', 'orga_entity', 'entity_id', 'inst_owner_norm', 'firm_id',
       'primary_location', 'adm_location', 'adm_level', 'adm_2',
       'Capital_details', 'y', 'full_owner', 'owner_id', 'corpus',
       'industry_primary'],
      dtype='object')

In [14]:
data_dict['firmregister_full'].head()

,index,Announcement_of,Published_in,Companyname,Capital,Beneficial_owner,Date_of_writing,Place_and_date_of_signature,Social_object,Place_of_the_seat,...,primary_location,adm_location,adm_level,adm_2,Capital_details,y,full_owner,owner_id,corpus,industry_primary
0,0,"alteracao de capital, pacto social, quotas, so...","BR no 30, III Serie, 3o Supl. de 28 de Julho d...","Madina Comercial, Limitada",19500 MT,"Fofana Alpha, Mamadou Fofana, Bakary Berrete, ...",10/06/2008,"Nampula, 10/07/2008",nan,nan,...,Nampula,Cidade De Nampula,district,Cidade De Nampula,nan,2008,Fofana Alpha; Mamadou Fofana; Bakary Berrete; ...,person__62390; person__160163; person__152097;...,"Madina Comercial, Limitada nan",unclassified
1,1,constituicao de sociedade por quotas,"BR no 1, III Serie, 2o Supl. de 8 de Janeiro d...","Geoambiente, Limitada",20.000 MT,"Amad Valy Mamad, Daud Liace Jamal, Celma Joana...",09/12/2006,"Maputo, 08/11/2006",a) Prestacao de servicos de consultoria na are...,Maputo,...,Maputo,Cidade De Maputo,district,Cidade De Maputo,da nova familia,2006,Amad Valy Mamad; Daud Liace Jamal; Celma Joana...,person__96711; person__152473; person__99745; ...,"Geoambiente, Limitada a) prestacao de servicos...",BusinessServices
2,2,constituicao de sociedade por quotas,"BR no 38, III Serie de 19 de Setembro de 2001 ...","Transportes Costa Correia, Limitada","20.000.000,00 MT","Carlos Alberto da Silva Costa, Maria do Socorr...",21/08/2001,"Maputo, 11/09/2001",a) Transporte de mercadorias diversas por via ...,Maputo,...,Maputo,Cidade De Maputo,district,Cidade De Maputo,nan,2001,Carlos Alberto da Silva Costa; Maria do Socorr...,person__56564; person__48806,"Transportes Costa Correia, Limitada a) transpo...",Transport
3,3,publicacao de estatutos,"BR no 242, III Serie de 15 de Dezembro de 2021...",Associacao Facilidade Iniciativa para Cidadan...,nan,nan,15/12/2021,"Nampula, 15/12/2021",a) Fortalecimento das organizacoes comunitaria...,Nampula,...,Nampula,Cidade De Nampula,district,Cidade De Nampula,nan,2021,nan,,Associacao Facilidade Iniciativa para Cidadan...,Health/Education
4,4,"alteracao de objecto social, pacto social, quo...","BR no 155, III Serie de 12 de Agosto de 2021 -...","Wemoc Sociedade de Servicos, Limitada",100.000 MT,Octavio Ernesto Maulele,27/07/2021,"Maputo, 10/08/2021",a) A actividade de manutencao de edificios; b...,Maputo Cidade,...,Maputo Cidade,Cidade De Maputo,district,Cidade De Maputo,nan,2021,Octavio Ernesto Maulele,person__129585,"Wemoc Sociedade de Servicos, Limitada a) a ac...",Commerce

In [37]:
outcomes_ids = set(data_dict['outcome_vars_id']['id'])

controll_vars_ids = set(data_dict['controll_vars']['id'])



treatment_vars_ids = set(data_dict['treatments_vars']['id'])


print(len(outcomes_ids))

print(len(controll_vars_ids))

print(len(treatment_vars_ids))


all = outcomes_ids.intersection(controll_vars_ids).intersection(treatment_vars_ids)


family = set(data_dict['outcome_vars_family']['id']).intersection(set(data_dict['individual_mappings']['family']))


print("family:",len(family))

print("all:",len(all))

127468
153742
153742
family: 29704
all: 127468

In [ ]:
controll_vars_ids =

In [36]:
data_dict['individual_mappings'].head()

,index,raw,clean,beta_clean,gamma_clean,id,lawyer,gender,dupl_counter,family
0,0,Llody Peter Willis,llody peter willis,llody peter willis,llody peter willis,person__0,nan,NaN,1,willis
1,1,Ussene Bay Daude Bay,ussene bay daude bay,ussene bay daude bay,ussene bay daude bay,person__1,nan,NaN,1,bay
2,2,Jan Ernest de Wet,jan ernest de wet,jan ernest de wet,jan ernest de wet,person__2,nan,NaN,1,wet
3,3,Magsad Jan,magsad jan,magsad jan,magsad jan,person__3,nan,NaN,1,jan
4,4,Carlos Samuel Quintino de Avelar alvares,carlos samuel quintino de avelar alvares,carlos samuel quintino de avelar alvares,carlos samuel quintino de avelar alvares,person__3961,nan,NaN,2,alvares